<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content>
   <mat-form-field class="full-width">
     <input type="text" matInput placeholder="task name">
   </mat-form-field>

   <mat-radio-group class="full-width">
     <mat-radio-button *ngFor="let p of prority" value="p">{{p}}</mat-radio-button>
   </mat-radio-group>

  <mat-form-field class="full-width">
    <input matInput [matDatepicker]="dueDate" placeholder="Choose a date">

    <mat-datepicker-toggle matSuffix [for]="dueDate"></mat-datepicker-toggle>

    <mat-datepicker #dueDate></mat-datepicker>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <div class="fill-remaining-place"></div>
  <button mat-raised-button>Save</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>