<form #form="ngForm" (ngSubmit)="save()">
  <h2 mat-dialog-title>{{title}}</h2>

  <mat-dialog-content>
    <mat-form-field>
      <input type="text" matInput placeholder="Task Name" [(ngModel)]="task.title" name="title">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput [(ngModel)]="task.desc" name="desc" placeholder="Task Desc" ></textarea>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="dueDate" placeholder="Choose a date" [(ngModel)]="task.dueDate" name="dueDate">
      <mat-datepicker-toggle matSuffix [for]="dueDate"></mat-datepicker-toggle>
      <mat-datepicker touchUi #dueDate></mat-datepicker>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions>
    <div class="fill-remaining-place"></div>
    <button mat-raised-button type="submit">Save</button>
    <button mat-button mat-dialog-close type="button">Cancel</button>
  </mat-dialog-actions>
</form>