<!-- <h3>Parent</h3>
<p>greeting</p>
<input type="text" [(ngModel)]="greeting">

<p>user name</p>
<input type="text" [(ngModel)]="user.name">

<h3>Child</h3>
<app-onchanges [greeting]="greeting" [user]="user"></app-onchanges> -->

<h3>ng View</h3>
<app-view #viewA></app-view>
<app-view #viewB></app-view>
{{message}}
<button (click)="viewB.greeting('Jerry')">greeting</button>

<div class="wrapper">
    <h3>ng Content</h3>
    <app-content>
        <div class="header">
            This is header
        </div>
        <div class="footer">
            This is footer {{title}}
        </div>
    </app-content>
</div>