<form (ngSubmit)="create()">
  <h2 mat-dialog-title>Add new product</h2>
  <mat-dialog-content>
    <mat-form-field class="full-width">
      <input type="text" matInput [(ngModel)]="product.name" name="productName" required placeholder="Product name">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input type="text" cdkFocusInitial matInput [(ngModel)]="product.desc" name="productDesc" required placeholder="Product desc">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input type="text" matInput placeholder="Product category" [matAutocomplete]="auto">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="submit" mat-raised-button>Create</button>
    <button type="button" mat-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>

<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let category of categories" [value]="category">
    {{ category.name }}
  </mat-option>
</mat-autocomplete>