<form #form="ngForm" (ngSubmit)="save()">
  <h2 mat-dialog-title>Add new product</h2>
  <mat-dialog-content>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Company (disabled)" disabled value="Google">
    </mat-form-field>
      
    <mat-form-field class="full-width">
      <input type="text" cdkFocusInitial matInput [(ngModel)]="product.name" name="productName" required placeholder="Product name">
      <button mat-button *ngIf="product.name" matSuffix mat-icon-button aria-label="Clear" (click)="product.name=''">
          <mat-icon>close</mat-icon>
      </button>
      <mat-hint>Please enter product name</mat-hint>
      <mat-error>
          Product name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <textarea matInput [(ngModel)]="product.desc" name="productDesc" placeholder="Product desc" [cdkTextareaAutosize]="false"
      required maxlength="256"></textarea>
      <mat-hint align="start"><strong>Please input description</strong> </mat-hint>
      <mat-hint align="end">{{product.desc?.length}} / 256</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input type="number" matInput [(ngModel)]="product.price" name="price" required placeholder="Price">
      <span matSuffix>RMB</span>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="submit" mat-raised-button [disabled]="!form.valid">Save</button>
    <button type="button" mat-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>
