  <mat-card *ngFor="let user of users" [routerLink]="['/users', user.id]">
      <img mat-card-md-image [src]="user.photoUrl"> 
      <mat-card-content>
        <br/>
        <p class="text-center"> {{user.username}} </p>
      </mat-card-content>
  </mat-card>

<!-- <table cdk-table [dataSource]="users | async"  class="mat-elevation-z8">

  <ng-container cdkColumnDef="username">
    <th cdk-header-cell *cdkHeaderCellDef> User name </th>
    <td cdk-cell *cdkCellDef="let row"> 
      {{row.username}} 
    </td>
  </ng-container>

  <ng-container cdkColumnDef="pic">
    <th cdk-header-cell *cdkHeaderCellDef> Pic </th>
    <td cdk-cell *cdkCellDef="let row">
       <img [src]="row.photoUrl" alt="" style="max-width: 100px;"> 
    </td>
  </ng-container>

  <tr cdk-header-row *cdkHeaderRowDef="['username','pic']"></tr>
  <tr cdk-row *cdkRowDef="let row; columns: ['username','pic']" [routerLink]="['/users', row.id]"></tr>
</table> -->