.task-check{
    order:-1;
    margin-right: 20px;
}

mat-icon.avatar{
    overflow: hidden;
    height: 64px;
    width: 64px;
    border-radius: 50%;
}

.drag-start{
    opacity: 0.5;
    border: #ff525b dashed 2px;
}