<mat-nav-list>
    <!-- dense -->
  <h3 mat-subheader>Products</h3>
  <mat-list-item (click)="navigateTo('/products')">
      <mat-icon mat-list-icon>home</mat-icon> 
      <span mat-line>Index</span>
      <span mat-line mat-subheader>Show index page of project</span>
  </mat-list-item>

  <h3 mat-subheader>Users</h3>
  <mat-list-item (click)="navigateTo('/users')">
    <mat-icon mat-list-icon>face</mat-icon> 
    <span mat-line>Index</span>
    <span mat-line mat-subheader>Show users</span>
 </mat-list-item>
  <mat-list-item (click)="navigateTo('/likes')">
    <mat-icon mat-list-icon>favorite</mat-icon> 
    <span mat-line>Likes</span>
    <span mat-line mat-subheader>Show like users</span>
 </mat-list-item>
  <mat-list-item (click)="navigateTo('/messages')">
    <mat-icon mat-list-icon>message</mat-icon> 
    <span mat-line>Messages</span>
    <span mat-line mat-subheader>Show messages</span>
 </mat-list-item>
</mat-nav-list>