<mat-card [routerLink]="['./',item.id]">
  <mat-card-header>
    <mat-card-title>
      {{item.name}}
    </mat-card-title>
  </mat-card-header>

  <img mat-card-image [src]="'../../../assets/imgs/pexels-photo-1310181.jpeg'">

  <mat-card-content>
    {{item.desc}}
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button type="button"  (click)="showEditModal($event)">
      <mat-icon>edit</mat-icon>
      Edit
    </button>
    <button mat-raised-button (click)="showDeleteModal($event)">
      <mat-icon>delete</mat-icon>
      Delete
    </button>
  </mat-card-actions>
</mat-card>