<form>
  <h2 mat-dialog-title>Move task</h2>

  <mat-dialog-content>
    <mat-form-field>
      <mat-select placehoder="Please select task status">
        <mat-option *ngFor="let taskList of taskLists" [value]="taskList.status">
          {{taskList.status}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button type="button" mat-raised-button>Save</button>
    <button type="button" mat-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>

</form>