<form class="login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Login panel
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="full-width" hintLabel="email is required">
        <input matInput placeholder="User name">
      </mat-form-field>
      <mat-form-field  class="full-width">
        <input matInput placeholder="Password">
      </mat-form-field>
      <button type="button" mat-raised-button>Login</button>
    </mat-card-content>

    <mat-card-actions class="text-right">
      <a [routerLink]="['/register']">Register</a>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>
       {{quote?.title}}
      </mat-card-title>
      <mat-card-subtitle>
        {{quote?.desc}}
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/imgs/pexels-photo-1310181.jpeg">
  </mat-card>
</form>