
<div class="task-lists-container">
  <app-task-list *ngFor="let taskList of taskLists" app-drop [dragEnterClass]="'drag-enter'" (dropped)="addDataToList($event,taskList)">
      <app-task-list-header [taskList]="taskList" 
                            (addTask)="openAddModal(taskList)" 
                            (edit)="openEditTaskListModal($event)"
                            (delete)="openDeleteTaskListModal($event)">
      </app-task-list-header>

      <mat-list role="list">
          <app-task-item *ngFor="let task of taskList.tasks" [task]="task" (editTask)="openEditModal(task)"></app-task-item>
      </mat-list>
  </app-task-list>
</div>

<button class="fab-button" mat-fab type="button" (click)="openAddTaskListModal()">
    <mat-icon>add</mat-icon>
</button>

